@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 80vh;
  /* width: 100%; */
  font-family: "Roboto", sans-serif;
}
h1 {
  color: rgb(0, 0, 0);
}
.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 3px rgb(47, 52, 56);
  transition: 0.1s ease-in-out;
}

.button:active {
  box-shadow: none;
}

.bt {
  background-color: lightblue;
  margin-top: 70px;
}
.sz {
  border-radius: 5px;
}
.lg {
  background-color: lightgreen;
  /* font-size: 120%; */
  font-weight: 800;
  border-color: lightgreen;
}
.bg {
  background-color: rgb(255, 104, 58);
  font-size: 100%;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border-color: rgb(235, 41, 41);
}
.aq {
  /* font-size: 150%; */
  font-weight: bold;
  color: black;
  border-color: antiquewhite;
}
.eq {
  width: 144px;
  border-radius: 5px;
  background-color: green;
  border-color: green;
  font-size: 100%;
  font-weight: bold;
  color: white;
}
.bh {
  background-color: pink;
  padding: 20px;
  border-radius: 20px;
}
.row {
  margin: 8px 0;
}
.row input {
  width: 320px;
  font-size: 30px;
  margin: 0;
  padding: 15px 10px;
  /* border: 2px solid black; */
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: antiquewhite;
}
.d {
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
